<!DOCTYPE html>
<html>
<head>
  <title>
  		{% block title %}
  		    Administrador CCPUCP
  		{% endblock %}
  </title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Importamos los estilos css -->
  {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/vendor.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/flat-admin.css') }}">

  <!-- Theme -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/theme/blue-sky.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/theme/blue.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/theme/red.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/theme/yellow.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/main.css') }}">
      
  {% endblock %}

</head>

<!-- Inclumos la plantilla del menu -->
<!-- Realizamos la condicion si estamos loguedos -->
<div class="app app-blue">
{% if app.user != null %}
  {% block menu %}
      {% include 'BackendBundle::navegacion.html.twig' %}
  {% endblock %}
{% endif %}

{% block content %}
    Content default
{% endblock %}
</div>


<footer>
	
  <!-- Importamos los archivos javascript -->
  <!-- Latest compiled and minified CSS & JS -->
  <script src="//code.jquery.com/jquery.js"></script>
  
    <script type="text/javascript" src="{{ asset('assets/js/vendor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/app.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/main.js') }}"></script>
  

</footer>

</body>
</html>